.container {
    padding: 30px 20px 0 20px;
    color: rgb(187, 206, 220);
    h1{
    font-weight: bold;
    font-size: 1.8rem;
    margin: auto;
    font-family: 'Montserrat Subrayada', sans-serif;  
  } 
}

@media only screen and (min-width: 768px) {
    .container{
        display: block;
        .row{
            display: block;
        }
    }
}