
  
  .fc{
      color:aliceblue;

      border-radius: 2px;
      .fc-toolbar-title {
          font-size: 11px;
      }
  }

  .fc-day-today {
    background: #FFF !important;
    border: none !important;
} 