ul 
{
    background-color: rgb(9, 23, 44);
    li {
        background-color: rgb(10, 28, 54);
        padding: 20px;
         margin: 10px;
    }
}

.footer{
    margin-top: 10px;
}

p-messages{
    max-width: 100px;
}
