<button pButton type="button" (click)="showDialog()" label="Services"></button>

<!-- [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}" -->
<p-dialog [modal]="true" header="Services"  [(visible)]="display" [transitionOptions]="'100ms'">
    <p-messages [value]="msgs" [enableService]="false"></p-messages>
    <ul class="list-group" *ngFor="let service of services;let i = index">
        <li class="list-group-item">
            <p-card header={{service.title}} subheader='{{service.time | timeChanger }}' [style]="{width: '230px'}"
                styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src={{service.image}}>
                </ng-template>
                {{service.price | priceChanger}}
                <ng-template pTemplate="footer">
                    
                    <p-button icon="pi pi-pencil"  styleClass="p-button-rounded p-button-warning p-button-outlined" (click)="editService(service)">
                    </p-button>
                    <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-outlined" [style]="{'margin-left': '.5em'}"
                        (click)="confirm(service)"></p-button>
                </ng-template>
            </p-card>
        </li>
    </ul>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-plus" (click)="showModal(true)" label="Add Service"></p-button>
    </ng-template>
    


    
    
    <!-- <div class="card">
        <p-dataView #dv [value]="services" [paginator]="true" [rows]="6" layout="grid">
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </ng-template>
            <ng-template let-services pTemplate="listItem">
                <div class="p-col-12">
                    <div class="product-list-item">
                        <div class="product-list-detail">
                            <div class="product-name">{{services.title}}</div>
                            <div class="product-description">{{services.time}}</div>
                        </div>
                        
                    </div>
                </div>
            </ng-template>
            <ng-template let-services pTemplate="gridItem">
                <div class="p-col-12 p-md-4">
                    <div class="product-grid-item card">
                        <div class="product-grid-item-top">
                            <div>
                                <i class="pi pi-tag product-category-icon"></i>
                                <span class="product-category">{{services.category}}</span>
                            </div>
                        </div>
                        <div class="product-grid-item-content">
                            <div class="product-name">{{services.title}}</div>
                            <div class="product-description">{{services.time}}</div>
                           
                        </div>
                        <div class="product-grid-item-bottom">
                            
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView> </div> -->

</p-dialog>

<p-dialog header="{{openEdit?'Edit Service':'Add Service'}}" [(visible)]="openModal" *ngIf="openModal">
    <app-add-service (addedService)="addService($event)" (openModal)="showModal($event)" [object]="selectedService">
    </app-add-service>
</p-dialog>
<p-confirmDialog header="Confirmation" width="425" ></p-confirmDialog>
